<template>
        <lightning-layout-item padding="around-medium" size="3">
            <h1>{invoice.Merchandise__r.Name}</h1>
            <p>Price : {invoice.Total__c}</p>
            <label for="itemQuantity"> Quantity: </label>
           <input id="itemQuantity" type="number" step="1" min="1" max={invoice.Merchandise__r.Quantity__c} value={invoice.Quantity__c} onchange={invoiceQuantity}/>
            <lightning-button variant="destructive" label="Remove From Basket" onclick={remove}></lightning-button>
        </lightning-layout-item>
</template>