<template>
    <div class="container">
        <div class="name">{merchandise.Name}</div>
        <lightning-formatted-rich-text value={merchandise.Image__c}></lightning-formatted-rich-text>
        <div class="price">Price : {merchandise.Price__c}</div>
        <div class="quantity">Quantity : {merchandise.Quantity__c}</div>
        <lightning-button class="button" variant="brand" label="Add to Basket" onclick={addItemToBasket}></lightning-button>
    </div>
</template>