<template>
   <div class="container">
        <template for:each={merchandises} for:item="merchandise">
            <c-merchandise-item-l-w-c
                    key={merchandise.Id}
                    merchandise={merchandise}
                    onaddtobasket={handleAction}>
            </c-merchandise-item-l-w-c>
        </template>
    </div>
</template>