<template >
    <lightning-card title="Category List">
        <lightning-layout padding="around-medium" size="12">
            <template for:each={categories.data} for:item="category">
                <a key={category.Id} data-category={category.Id} onclick={navigateToRecord}>{category.Name}</a>
            </template>
        </lightning-layout>
    </lightning-card>
</template>