<template>
    <template if:true={invoices}>
        <lightning-card title="Basket List">
            <lightning-layout>
                <template for:each={invoices} for:item="invoice">
                    <c-invoice-item-l-w-c
                            key={invoice.Id}
                            invoice={invoice}
                            onchangequantity={rerenderInvoice}
                            onremove={rerenderInvoice}>
                    </c-invoice-item-l-w-c>
                </template>
            </lightning-layout>

            <Lightning-layout>
                <lightning-button variant="brand" label="Buy" onclick={handleButtonBuy}></lightning-button>
                <lightning-button variant="destructive" label="Delete All" onclick={handleButtonDeleteAll}></lightning-button>
            </Lightning-layout>
        </lightning-card>
    </template>
</template>